# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Web/node_modules

/.pnp
.pnp.js

# testing
/coverage

#wireframes
/wireframes

# next.js
Web/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
Web/.next/build-manifest.json
Web/.next/trace
Web/.next/cache/webpack/client-development/0.pack
Web/.next/cache/webpack/client-development/1.pack
Web/.next/cache/webpack/client-development/2.pack
Web/.next/cache/webpack/client-development/3.pack
Web/.next/cache/webpack/client-development/4.pack
Web/.next/cache/webpack/client-development/index.pack
Web/.next/cache/webpack/client-development/index.pack.old
Web/.next/cache/webpack/client-development-fallback/0.pack
Web/.next/cache/webpack/client-development-fallback/index.pack
Web/.next/cache/webpack/client-development-fallback/index.pack.old
Web/.next/cache/webpack/server-development/0.pack
Web/.next/cache/webpack/server-development/1.pack
Web/.next/cache/webpack/server-development/2.pack
Web/.next/cache/webpack/server-development/3.pack
Web/.next/cache/webpack/server-development/index.pack
Web/.next/cache/webpack/server-development/index.pack.old
Web/.next/server/_error.js
Web/.next/server/middleware-manifest.json
Web/.next/server/pages-manifest.json
Web/.next/server/webpack-runtime.js
Web/.next/server/pages/_app.js
Web/.next/server/pages/_document.js
Web/.next/server/pages/_error.js
Web/.next/server/pages/index.js
Web/.next/static/chunks/_error.js
Web/.next/static/chunks/amp.js
Web/.next/static/chunks/main.js
Web/.next/static/chunks/polyfills.js
Web/.next/static/chunks/react-refresh.js
Web/.next/static/chunks/webpack.js
Web/.next/static/chunks/pages/_app.js
Web/.next/static/chunks/pages/_error.js
Web/.next/static/chunks/pages/index.js
Web/.next/static/webpack/1bcc981ecee4bd98.webpack.hot-update.json
Web/.next/static/webpack/1c9d2c7fd3647872.webpack.hot-update.json
Web/.next/static/webpack/1cc75a37584a51a4.webpack.hot-update.json
Web/.next/static/webpack/4c03c296edeee71b.webpack.hot-update.json
Web/.next/static/webpack/6a5e43df3fabf7dc.webpack.hot-update.json
Web/.next/static/webpack/8e568fe9600a2223.webpack.hot-update.json
Web/.next/static/webpack/42bf5d66684d992f.webpack.hot-update.json
Web/.next/static/webpack/45b17e03d7a68bfd.webpack.hot-update.json
Web/.next/static/webpack/185eb98ae7ff27c7.webpack.hot-update.json
Web/.next/static/webpack/194cb5a81445ba35.webpack.hot-update.json
Web/.next/static/webpack/221da36701ddb47a.webpack.hot-update.json
Web/.next/static/webpack/745e82bcbfbf9234.webpack.hot-update.json
Web/.next/static/webpack/291064fc80707006.webpack.hot-update.json
Web/.next/static/webpack/a609ef9652514b36.webpack.hot-update.json
Web/.next/static/webpack/ac481d7f9297ecba.webpack.hot-update.json
Web/.next/static/webpack/ba63738880f04729.webpack.hot-update.json
Web/.next/static/webpack/c026391c97712349.webpack.hot-update.json
Web/.next/static/webpack/cd0bae028501701f.webpack.hot-update.json
Web/.next/static/webpack/e5d199ca6e6b1cd4.webpack.hot-update.json
Web/.next/static/webpack/e8c1824102ccaad2.webpack.hot-update.json
Web/.next/static/webpack/ee01f1526ddcc1eb.webpack.hot-update.json
Web/.next/static/webpack/f5bfa48ae206e62b.webpack.hot-update.json
Web/.next/static/webpack/f20a81261e4ea7e7.webpack.hot-update.json
Web/.next/static/webpack/f447f8db88977c59.webpack.hot-update.json
Web/.next/static/webpack/webpack.1bcc981ecee4bd98.hot-update.js
Web/.next/static/webpack/webpack.1c9d2c7fd3647872.hot-update.js
Web/.next/static/webpack/webpack.1cc75a37584a51a4.hot-update.js
Web/.next/static/webpack/webpack.4c03c296edeee71b.hot-update.js
Web/.next/static/webpack/webpack.6a5e43df3fabf7dc.hot-update.js
Web/.next/static/webpack/webpack.8e568fe9600a2223.hot-update.js
Web/.next/static/webpack/webpack.42bf5d66684d992f.hot-update.js
Web/.next/static/webpack/webpack.45b17e03d7a68bfd.hot-update.js
Web/.next/static/webpack/webpack.185eb98ae7ff27c7.hot-update.js
Web/.next/static/webpack/webpack.194cb5a81445ba35.hot-update.js
Web/.next/static/webpack/webpack.221da36701ddb47a.hot-update.js
Web/.next/static/webpack/webpack.745e82bcbfbf9234.hot-update.js
Web/.next/static/webpack/webpack.291064fc80707006.hot-update.js
Web/.next/static/webpack/webpack.a609ef9652514b36.hot-update.js
Web/.next/static/webpack/webpack.ac481d7f9297ecba.hot-update.js
Web/.next/static/webpack/webpack.ba63738880f04729.hot-update.js
Web/.next/static/webpack/webpack.c026391c97712349.hot-update.js
Web/.next/static/webpack/webpack.cd0bae028501701f.hot-update.js
Web/.next/static/webpack/webpack.e5d199ca6e6b1cd4.hot-update.js
Web/.next/static/webpack/webpack.e8c1824102ccaad2.hot-update.js
Web/.next/static/webpack/webpack.ee01f1526ddcc1eb.hot-update.js
Web/.next/static/webpack/webpack.f5bfa48ae206e62b.hot-update.js
Web/.next/static/webpack/webpack.f20a81261e4ea7e7.hot-update.js
Web/.next/static/webpack/webpack.f447f8db88977c59.hot-update.js
Web/.next/static/webpack/pages/_app.1bcc981ecee4bd98.hot-update.js
Web/.next/static/webpack/pages/_app.1cc75a37584a51a4.hot-update.js
Web/.next/static/webpack/pages/_app.4c03c296edeee71b.hot-update.js
Web/.next/static/webpack/pages/_app.6a5e43df3fabf7dc.hot-update.js
Web/.next/static/webpack/pages/_app.8e568fe9600a2223.hot-update.js
Web/.next/static/webpack/pages/_app.42bf5d66684d992f.hot-update.js
Web/.next/static/webpack/pages/_app.194cb5a81445ba35.hot-update.js
Web/.next/static/webpack/pages/_app.291064fc80707006.hot-update.js
Web/.next/static/webpack/pages/_app.a609ef9652514b36.hot-update.js
Web/.next/static/webpack/pages/_app.ac481d7f9297ecba.hot-update.js
Web/.next/static/webpack/pages/_app.ba63738880f04729.hot-update.js
Web/.next/static/webpack/pages/_app.cd0bae028501701f.hot-update.js
Web/.next/static/webpack/pages/_app.e8c1824102ccaad2.hot-update.js
Web/.next/static/webpack/pages/_app.ee01f1526ddcc1eb.hot-update.js
Web/.next/static/webpack/pages/_app.f5bfa48ae206e62b.hot-update.js
Web/.next/static/webpack/pages/_app.f447f8db88977c59.hot-update.js
Web/.next/static/webpack/pages/index.1c9d2c7fd3647872.hot-update.js
Web/.next/static/webpack/pages/index.185eb98ae7ff27c7.hot-update.js
Web/.next/static/webpack/pages/index.221da36701ddb47a.hot-update.js
Web/.next/static/webpack/pages/index.745e82bcbfbf9234.hot-update.js
Web/.next/static/webpack/pages/index.c026391c97712349.hot-update.js
Web/.next/static/webpack/pages/index.f20a81261e4ea7e7.hot-update.js
