.calendar{

  .days-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    background:$light-aqua;

  }
  .day-item{
    flex-basis: 14.2857%;
    border:1px solid $dark-aqua;
  }

  .date-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    height:100vh;

  }

  .date-item{
    border: 1px solid $dark-aqua;
    flex-basis: 14.2861%;
    background:$canvas;
  }

  .day-label{
    font-weight:600;
  }
}